<!DOCTYPE html>
<html lang="it-IT">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/Images/f1-small-logo.ico">
    <link rel="stylesheet" href="../static/index.css">
    <title>F1 Predictor</title>
</head>
<body>
    <h3 class="title">F1 Predictor</h3>
    
    <form id="data-form" action="/api/data" method="POST">
        <div class="edit-container">
            <div class="circuit-container">
                <label for="circuito">Select a circuit</label>
                <select id="circuito" name="circuito"></select>
            </div>
    
            <div class="number-lap-container">
                <label for="number-lap">Seleziona il numero di giri</label>
                <input id="number-lap" type="number" name="number-lap" min="1" max="100" value="1">
            </div>               

            <div class="weather-container">
                <label for="meteo">Select the weather condition</label>
                <select id="meteo" name="meteo"></select>
            </div>
        </div>

        <div class="grid-container-general">
            <div class="info-container">
                <span class="material-symbols-outlined random" onclick="randomSelects()">change_circle</span>
                <label style="text-align: center;">Select the drivers</label>
                <span class="material-symbols-outlined delete" onclick="resetSelects()">delete</span>
            </div>
            <div class="grid-container" id="grid-container"></div>
        </div>

        <div class="button-container">
            <button id="submit-btn" type="submit" onclick="timeoutAnimation()">Predict</button>
        </div>
    </form>
    
    <div id="leaderboard"></div>

    <script src="../static/script.js"></script>
</body>
</html>
